# Idris 2
*.ttc
*.ttm

# Idris 1
*.ibc
*.o

// 원격 저장소와 로컬 저장소에 있는 파일을 삭제한다.
$ git rm [images]


// 원격 저장소에 있는 파일을 삭제한다. 로컬 저장소에 있는 파일은 삭제하지 않는다.
$ git rm --cached [images]



// .idea 폴더 하위의 모든 파일 삭제 
$ git rm --cached -r images/
